.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.comment-text {
  flex-grow: 1;
  font-size: 15px;
  color: #333;
}

.comment-actions {
  display: flex;
  gap: 8px;
}

.action-button {
  background-color: #f4f4f4;
  color: #333;
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.action-button:hover {
  background-color: #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-button {
  color: #333;
}

.delete-button {
  color: #333;
}

.comment-edit-input {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.comment-user {
  margin-right: 8px;
  color: #333;
  font-weight: bold;
}

.edit-input {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 70%;
}

.edit-input:focus {
  border-color: #333;
}
